body {
  background-color: #5e5e5e;  /* #231f20 */

  overflow-x: hidden !important;
  /* ^ Used to hide the scrollbar*/

  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.8;
  font-family: Lato, sans-serif;
}

body::-webkit-scrollbar {
  /*Chrome, Safari, and Opera*/
  display: none;
}
::-webkit-scrollbar { 
  width: 0 !important
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* ^ Used to hide the scrollbar*/


.aligntext {
  text-align: left;
  margin-left: 36px;
}
.textcolor {
  color: white;
}
.textitalic {
  font-style: italic;
}
.textspacer {
  padding-bottom: 3px;
  padding-top: 3px;
}
.viewCartButtonContainer:hover {
  background-color: #da3832 !important; /*#4aa45b */
}
.navbar-nav li:hover {
  color: #000 !important;
  background-color: #da3832 !important; /*#4aa45b */
}
nav {
  background-color: #231f20;
  opacity: 0.98;
  font-family: Verdana;
  font-size: 12px;
  letter-spacing: 4px;
}
#navspan {
  padding: 0px 0px 0px 0px;
}
.nav-link {
  padding: 22px 0 22px 0;
  
}
.Navimage{
  width: 100px;
  margin: 0 10px 0;
}

.navbar-toggler {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 11px;
}

.bottomnav {
  background-color: #231f20;
}
.bottomLogo {
  width: 300px;
  margin: 0px 0px 0px 30%;
}
.bottomLogom {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bottomPR {
  width: 70px;
}
.bottomA {
  margin: 0px 10px 0px 10px;
}
.slogon{
  margin: 20px 0 20px 0;
  font-size: 24px;
}
footer {
  
}
